@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'urbanist';
  src: url('./assets/fonts/Urbanist-VariableFont_wght.ttf');
  font-display: swap;
}

body::-webkit-scrollbar {
  display: none;
}

@layer base {
  p {
    @apply text-sm 2xl:text-lg;
  }
  li {
    @apply text-sm xl:text-base 2xl:text-lg;
  }
}

@layer components {
  .offset {
    @apply mx-4 tablet:mx-20 desktop:mx-40;
  }
  .offset-hero {
    @apply px-4 tablet:px-20 desktop:pl-40;
  }
  .seperator {
    @apply lg:hidden
  }
  .footerList {
    @apply border-r-2 lg:border-0 border-r-sgrey-15
  }
  .title {
    @apply text-2xl laptop:text-3xl desktop:text-5xl
  }
  .dataCardComponent {
    @apply  p-6 tablet:p-10
  }
  .dataCard {
    @apply basis-full shrink-0 laptop:shrink
  }

}